@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --content-width: 440px;
  --text-color--1: #ffffff;
  --text-color--2: #ff0000;
  --text-color--3: #000000;
}

body {
  background-image: url(../img/wild_oliva_@2X.png);
  font-family: 'Audiowide', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: var(--content-width);
  max-height: var(--content-width);
}

.main__heading {
  font-size: 3.4rem;
  text-align: center;
  margin: 20px;
  letter-spacing: 2px;
  color: var(--text-color--2);
}

.container__wrapper {
  max-width: var(--content-width);
  max-height: var(--content-width);
  height: 75vh;
  margin: 20px auto;
  border: 15px solid #aaaaaa;
  position: relative;
}

.container {
  cursor: crosshair;
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  font-family: Audiowide, cursive;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
  background-color: var(--text-color--3);
  color: var(--text-color--2);
  line-height: 27px;
  border: 1px solid var(--text-color--2);
}

.btn:hover {
  border: 1px solid var(--text-color--1);
}

.active {
  outline: none;
  box-shadow: 0 1px 10px 0 rgba(240, 240, 240, 1)
}

.btn--picker {
  display: flex;
  align-items: center;
  gap: 5px;
}

#input-color {
  border: none;
  height: 25px;
  width: 25px;
  padding: 0;
  background-color: var(--text-color--3);
}

.container__options {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

.container__options__size {
  width: 100%;
  padding-left: 10px;
  margin-right: 5px;
}

.container__options__size p {
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-color--1);
  margin: 7px 0;
}

.slider {
  -webkit-appearance: none;
  /* Removes default styling in WebKit browsers (like Chrome and Safari) */
  width: 100%;
  height: 15px;
  background: red;
  outline: none;
  transform: rotate(180deg);
  transition: 0.2s;
  border-radius: 7px;
}

/* Chrome */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Removes default styling for the slider thumb in WebKit browsers */
  appearance: none;
  /* Removes default styling for the slider thumb in non-WebKit browsers */
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
slider::-moz-range-thumb {
  width: 15px;
  height: 30px;
  background: white;
  border-radius: 7px;
  cursor: pointer;
}

.project__info {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color--3);
}